@import "@/styles/_resets.scss";
@import "@/styles/_utilities.scss";
@import "@/styles/_fonts.scss";
@import "@/styles/_media.scss";
@import "@/styles/_variables.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    font-family: $font__montserrat;
    font-display: swap;
    word-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#app {
    font-size: $font__size;
    color: $text__primary;

    a:link {
        @include resetLinkStyle;
    }

    a:visited {
        @include resetLinkStyle;
    }

    a:hover {
        @include resetLinkStyle;
    }

    a:active {
        @include resetLinkStyle;
    }
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.disable{
    opacity: 0.5;
    cursor: not-allowed;
}