$mobile: "(min-width: 0px) and (max-width: 576px)";
$mobile-tablet: "(min-width: 577px) and (max-width: 769px)";
$tablet-laptop: "(min-width: 770px) and (max-width: 1024px)";
$laptop-desktop: "(min-width: 1025px) and (max-width: 1216px)";
$desktop-widescreen: "(min-width: 1217px) and (max-width: 1408px)";
$fullhd: "(min-width: 1409px)";

// usage in ex. class
// @media #{$mobile},
// #{$fullhd} {
//     font-size: 10rem;
// }

