// Fonts variable
$font-montserrat: 'Montserrat', sans-serif; // Montserrat:400,500,700
$font-openSans: 'open sans', sans-serif;
$font-weight: 400;
$font-size: 15px;

// text colors
$text-light: #f5f5f5;
$text-dark: #000000;
$text-grey: #999;
$text-second: #3273dc;

// bg colors
$background-dark: #222222;
$background-transparent: rgba(0, 0, 0, 0.8);

// NAVBAR name styles
$navbar-height: 3rem;