// Fonts variable
$font__montserrat: 'Montserrat', sans-serif; // Montserrat:400,500,700
$font__monda: 'Monda', sans-serif;
$font__openSans: 'open sans', sans-serif;

$font__weight__400: 400;
$font__weight__500: 500;
$font__weight__700: 700;

$font__size: 15px;

// text-s
$text__primary: #f2f2f2;
$text__secondary: #333333;

// background-s
$bg__primary: #17181B;
$bg__secondary: #232429;

// external
$color__danger: #FF3860;
$color__success: #48C774;
$color__warning: #FFDD57;

// NAVBAR
$navbar__height: 3rem;
